/*==============================
	Article
==============================*/
.article__trailer {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }
  .article__trailer svg {
    display: block;
    stroke: #fff;
    width: 46px;
    height: auto;
    margin-right: 15px;
    transition: stroke 0.5s;
  }
  .article__trailer:hover {
    color: #2f80ed;
  }
  .article__trailer:hover svg {
    stroke: #2f80ed;
  }
  .article__category {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    min-width: 60px;
    width: auto;
    color: #e0e0e0;
    font-size: 14px;
    background-color: #151f30;
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 20px;
  }
  .article__category:hover {
    color: #fff;
    background-color: #2f80ed;
  }
  .article__date {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 13px;
    line-height: 30px;
    color: #e0e0e0;
  }
  .article__date svg {
    fill: #2f80ed;
    width: 16px;
    height: auto;
    margin-right: 10px;
  }
  .article__content {
    position: relative;
  }
  .article__content img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 16px;
  }
  .article__content iframe {
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 20px;
    border-radius: 16px;
    border: none;
  }
  .article__content h1,
  .article__content h2,
  .article__content h3,
  .article__content h4,
  .article__content h5,
  .article__content h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    line-height: 140%;
  }
  .article__content h1:last-child,
  .article__content h2:last-child,
  .article__content h3:last-child,
  .article__content h4:last-child,
  .article__content h5:last-child,
  .article__content h6:last-child {
    margin-bottom: 0;
  }
  .article__content h1 {
    font-size: 32px;
  }
  .article__content h2 {
    font-size: 28px;
  }
  .article__content h3 {
    font-size: 24px;
  }
  .article__content h4 {
    font-size: 22px;
  }
  .article__content h5 {
    font-size: 18px;
  }
  .article__content h6 {
    font-size: 16px;
  }
  .article__content p {
    display: block;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #e0e0e0;
    margin-bottom: 20px;
  }
  .article__content p b {
    font-weight: 500;
  }
  .article__content p a {
    color: #2f80ed;
    text-decoration: underline;
  }
  .article__content p a:hover,
  .article__content p a:focus {
    color: #2f80ed;
    text-decoration: none;
  }
  .article__content p:last-child {
    margin-bottom: 0;
  }
  .article__content blockquote {
    display: block;
    position: relative;
    font-family: 'Rubik', sans-serif;
    padding: 0 0 0 20px;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .article__content blockquote:before {
    content: '';
    position: absolute;
    display: block;
    top: 2px;
    bottom: 2px;
    left: 0;
    width: 2px;
    background-color: #2f80ed;
    border-radius: 2px;
  }
  .article__content blockquote:last-child {
    margin-bottom: 0;
  }
  .article__content ul {
    margin-bottom: 20px;
    display: block;
  }
  .article__content ul li {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #e0e0e0;
    padding-left: 20px;
    position: relative;
  }
  .article__content ul li:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #2f80ed;
    left: -2px;
    top: 50%;
    margin-top: -3px;
  }
  .article__content ul:last-child {
    margin-bottom: 0;
  }
  .article__content ul.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .article__content ul.list li {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .article__content ul.list li svg {
    width: 18px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
    margin-right: 5px;
  }
  .article__content ul.list li:first-child {
    padding-left: 0;
  }
  .article__content ul.list li:first-child:before {
    display: none;
  }
  .article__content ul.list li:last-child {
    margin-right: 0;
  }
  .article__btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .article__btns .article__btn {
    width: calc(50% - 10px);
  }
  .article__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-radius: 16px;
    background-color: #2f80ed;
    font-size: 14px;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .article__btn:hover {
    color: #151f30;
    background-color: #fff;
  }
  .article__btn--white {
    background-color: #fff;
    color: #151f30;
  }
  .article__btn--white:hover {
    background-color: #151f30;
    color: #fff;
  }
  @media (min-width: 576px) {
    .article__content iframe {
      height: 280px;
    }
  }
  @media (min-width: 768px) {
    .article__trailer {
      margin-bottom: 40px;
    }
    .article__category {
      margin-bottom: 30px;
    }
    .article__content h1 {
      font-size: 36px;
    }
    .article__content h2 {
      font-size: 32px;
    }
    .article__content h3 {
      font-size: 28px;
    }
    .article__content h4 {
      font-size: 24px;
    }
    .article__content h5 {
      font-size: 20px;
    }
    .article__content h6 {
      font-size: 18px;
    }
    .article__content h1,
    .article__content h2,
    .article__content h3,
    .article__content h4,
    .article__content h5,
    .article__content h6,
    .article__content p,
    .article__content blockquote,
    .article__content ul,
    .article__content img,
    .article__content iframe {
      margin-bottom: 30px;
    }
    .article__content h1:last-child,
    .article__content h2:last-child,
    .article__content h3:last-child,
    .article__content h4:last-child,
    .article__content h5:last-child,
    .article__content h6:last-child,
    .article__content p:last-child,
    .article__content blockquote:last-child,
    .article__content ul:last-child,
    .article__content img:last-child,
    .article__content iframe:last-child {
      margin-bottom: 0;
    }
    .article__content iframe {
      height: 400px;
    }
    .article__content ul.list {
      margin-top: -20px;
    }
    .article__btn {
      margin-bottom: 30px;
      height: 60px;
    }
    .article__btns .article__btn {
      width: calc(50% - 15px);
    }
  }
  @media (min-width: 992px) {
    .article__btns {
      justify-content: flex-start;
    }
    .article__btns .article__btn {
      width: 200px;
    }
    .article__btn {
      width: 200px;
      margin-right: 30px;
    }
  }
  @media (min-width: 1200px) {
    .article__content {
      padding-right: 30px;
    }
    .article__content iframe {
      height: 460px;
    }
    .article__date {
      right: 30px;
    }
  }

  /*==============================
	Comments
==============================*/
.comments {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 1px solid rgba(47,128,237,0.1);
}
.comments__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;
}
.comments__title h4 {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  margin-bottom: 0;
  position: relative;
  font-family: 'Rubik', sans-serif;
}
.comments__title span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 20px;
  height: 20px;
  padding: 0 5px;
  border-radius: 6px;
  background-color: #2f80ed;
  font-size: 12px;
  color: #e0e0e0;
  font-weight: 400;
  margin-left: 10px;
}
.comments__title--tabs li {
  position: relative;
  margin-right: 20px;
}
.comments__title--tabs li:last-child {
  margin-right: 0;
}
.comments__title--tabs a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  opacity: 1;
}
.comments__title--tabs a:hover {
  opacity: 1;
}
.comments__title--tabs a.active {
  opacity: 1;
  cursor: default;
}
.comments__autor {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 20px;
}
.comments__avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  border-radius: 10px;
}
.comments__name {
  display: block;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  font-weight: 500;
}
.comments__time {
  display: block;
  font-size: 12px;
  color: #e0e0e0;
  line-height: 20px;
  font-weight: 400;
}
.comments__text {
  display: block;
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  padding: 20px 0;
  position: relative;
  border-top: 1px solid rgba(47,128,237,0.1);
  border-bottom: 1px solid rgba(47,128,237,0.1);
}
.comments__text b {
  font-weight: 500;
}
.comments__text a {
  color: #2f80ed;
}
.comments__text a:hover {
  color: #2f80ed;
  text-decoration: underline;
}
.comments__text span {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
  min-height: 80px;
  border-radius: 16px;
  color: #e0e0e0;
  background-color: #131720;
}
.comments__item {
  margin-bottom: 20px;
  display: block;
  background-color: #151f30;
  padding: 20px;
  border-radius: 16px;
}
.comments__item--answer,
.comments__item--quote {
  margin-left: 20px;
}
.comments__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0 0;
  position: relative;
}
.comments__actions button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
  height: 20px;
}
.comments__actions button span {
  font-size: 12px;
  color: #e0e0e0;
  text-transform: uppercase;
  transition: 0.5s;
  display: none;
}
.comments__actions button svg {
  width: 18px;
  height: auto;
  stroke: #2f80ed;
  transition: 0.5s;
}
.comments__actions button:hover span {
  color: #2f80ed;
}
.comments__actions button:hover svg {
  stroke: #2f80ed;
}
.comments__actions button:last-child {
  margin-right: 0;
}
.comments__rate {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 20px;
}
.comments__rate button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e0e0e0;
  font-size: 14px;
  margin-right: 24px;
  position: relative;
  height: 20px;
}
.comments__rate button svg {
  width: 16px;
  height: auto;
  opacity: 0.7;
  transition: 0.5s;
}
.comments__rate button:last-child {
  margin-right: 0;
}
.comments__rate button:last-child svg {
  margin-left: 10px;
  stroke: #eb5757;
}
.comments__rate button:first-child svg {
  margin-right: 10px;
  stroke: #29b474;
}
.comments__rate button:first-child:before {
  content: '';
  position: absolute;
  display: block;
  left: 100%;
  margin-left: 12px;
  width: 1px;
  height: 16px;
  background-color: rgba(47,128,237,0.1);
  top: 50%;
  transform: translateY(-50%);
}
.comments__rate button:hover {
  color: #fff;
}
.comments__rate button:hover svg {
  opacity: 1;
}
.comments__form {
  border-radius: 16px;
  padding: 20px;
  border: 1px solid rgba(47,128,237,0.1);
  margin-top: 60px;
}
.comments__form .row {
  margin-left: -10px;
  margin-right: -10px;
}
.comments__form .col-12 {
  padding-left: 10px;
  padding-right: 10px;
}
.comments__form .sign__btn {
  margin: 0;
}
@media (min-width: 576px) {
  .comments__actions button span {
    display: block;
    margin-left: 6px;
  }
  .comments__form .sign__btn {
    width: 180px;
  }
}
@media (min-width: 768px) {
  .comments__item--answer,
  .comments__item--quote {
    margin-left: 30px;
  }
  .comments__title--tabs li {
    margin-right: 30px;
  }
  .comments__title--tabs li:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .comments {
    margin-right: 30px;
  }
}
  