/*==============================
	Profile
==============================*/
.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #151f30;
    padding: 20px 20px 0;
    border-radius: 16px;
    position: relative;
  }
  .profile__tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  .profile__tabs li {
    margin-right: 30px;
  }
  .profile__tabs li:last-child {
    margin-right: 0;
  }
  .profile__tabs a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    color: #fff;
    position: relative;
    font-size: 14px;
  }
  .profile__tabs a:hover {
    color: #2f80ed;
  }
  .profile__tabs a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-color: #2f80ed;
    transition: 0.5s;
    transform: translateY(2px);
    opacity: 0;
    border-radius: 2px;
  }
  .profile__tabs a.active {
    color: #2f80ed;
    cursor: default;
  }
  .profile__tabs a.active:before {
    opacity: 1;
    transform: translateY(0);
  }
  .profile__logout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .profile__logout span {
    font-size: 14px;
    color: #e0e0e0;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.5s;
  }
  .profile__logout svg {
    fill: #2f80ed;
    width: 20px;
    height: auto;
  }
  .profile__logout:hover span {
    color: #2f80ed;
  }
  .profile__user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile__meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .profile__meta h3 {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 7px;
    line-height: 100%;
  }
  .profile__meta span {
    color: #e0e0e0;
    font-size: 12px;
    line-height: 100%;
    margin-left: 20px;
  }
  .profile__avatar {
    display: block;
    position: relative;
    width: 40px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 15px;
  }
  .profile__avatar img {
    width: 100%;
  }
  @media (min-width: 768px) {
    .profile {
      padding: 25px 30px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .profile__tabs {
      border-bottom: none;
      margin-bottom: 0;
      width: auto;
      margin-right: auto;
    }
    .profile__tabs a {
      align-items: center;
      height: 80px;
    }
    .profile__user {
      margin-bottom: 0;
      margin-right: 60px;
    }
    .profile__logout {
      position: relative;
      top: auto;
      right: auto;
    }
  }
  @media (min-width: 992px) {
    .profile__tabs li {
      margin-right: 40px;
    }
    .profile__tabs li:last-child {
      margin-right: 0;
    }
  }
.catalog--page {
    margin-top: 100px;
}
