/*==============================
	Home
==============================*/

.home {
    position: relative;
    margin-top: 80px;
  }
  .home--title {
    padding-top: 30px;
    overflow: hidden;
  }
  .home--title:after {
    content: '';
    position: absolute;
    top: 0;
    height: 300px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1;
    background: linear-gradient(180deg, rgba(21,31,48,0.35) 0%, #131720 100%);
  }
  .home--title .container,
  .home--title .home__carousel {
    z-index: 2;
    position: relative;
  }
  .home__carousel {
    padding-left: 15px;
  }
  .home__carousel .owl-dots {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  .home__carousel .owl-dot {
    margin-right: 10px;
  }
  .home__carousel .owl-dot:last-child {
    margin-right: 0;
  }
  .home__carousel .owl-dot span {
    display: block;
    height: 4px;
    width: 10px;
    border-radius: 3px;
    background-color: rgba(47,128,237,0.5);
    transition: 0.5s;
  }
  .home__carousel .owl-dot.active span {
    width: 20px;
    background-color: #2f80ed;
  }
  .home__card {
    display: block;
    width: 290px;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
  }
  .home__card img {
    position: relative;
    width: 100%;
    z-index: 1;
    transition: 0.5s;
  }
  .home__card:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.8) 75%, rgba(0,0,0,0.9) 100%);
    opacity: 0.65;
    transition: 0.5s;
    pointer-events: none;
  }
  .home__card div {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    pointer-events: none;
  }
  .home__card div h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 26px;
    line-height: 120%;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
    transition: 0.5s;
  }
  .home__card div ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .home__card div ul li {
    font-size: 14px;
    font-weight: 400;
    color: #e0e0e0;
    line-height: 100%;
    margin-right: 20px;
  }
  .home__card div ul li:last-child {
    margin-right: 0;
  }
  .home__card:hover:before {
    opacity: 0.9;
  }
  .home__card:hover img {
    transform: scale(1.08);
  }
  .home__card:hover div h2 {
    color: #2f80ed;
  }
  .home__card:hover .home__add {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
  .home__card:hover .home__rating {
    opacity: 1;
    transform: scale(1);
  }
  .home__add {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: #151f30;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
  }
  .home__add svg {
    width: 18px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
  }
  .home__add:hover svg,
  .home__add.active svg {
    fill: #ffc312;
  }
  .home__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    height: 30px;
    width: auto;
    padding: 0 10px;
    transform: scale(0.8);
    border-radius: 10px;
    background-color: rgba(21,31,48,0.75);
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: default;
  }
  .home__rating svg {
    width: 16px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
    margin-right: 5px;
  }
  .home__nav {
    display: none;
  }
  .home__title {
    display: block;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  .home__title b {
    font-weight: 400;
  }
  @media (min-width: 360px) {
    .home__card {
      width: 320px;
    }
  }
  @media (min-width: 400px) {
    .home__card {
      width: 340px;
    }
  }
  @media (min-width: 576px) {
    .home__card {
      width: 360px;
    }
    .home__card div {
      padding: 30px;
    }
    .home__card div h2 {
      font-size: 30px;
    }
    .home__carousel {
      padding-left: calc((100vw - 510px) / 2);
    }
    .home__add {
      top: 30px;
      left: 30px;
    }
    .home__rating {
      top: 30px;
      right: 30px;
    }
  }
  @media (min-width: 768px) {
    .home--title {
      padding-top: 40px;
    }
    .home__carousel {
      padding-left: 0;
    }
    .home__carousel .owl-dots {
      margin-top: 40px;
      padding-left: calc((100vw - 690px) / 2);
    }
    .home__rating {
      font-size: 14px;
    }
    .home__rating svg {
      width: 18px;
    }
    .home__title {
      font-size: 40px;
      margin-bottom: 40px;
    }
    .home__card {
      width: 450px;
    }
  }
  @media (min-width: 992px) {
    .home__carousel .owl-dots {
      padding-left: calc((100vw - 930px) / 2);
    }
  }
  @media (min-width: 1200px) {
    .home {
      margin-top: 100px;
    }
    .home--static {
      margin-top: 0;
    }
    .home--title:after {
      height: 500px;
    }
    .home--title .home__nav {
      height: 280px;
      top: auto;
    }
    .home__card {
      width: 350px;
    }
    .home__nav {
      display: block;
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      width: calc((100% - 1170px) / 2);
    }
    .home__nav--prev {
      left: 0;
      border-radius: 0 16px 16px 0;
    }
    .home__nav--next {
      right: 0;
      border-radius: 16px 0 0 16px;
    }
    .home__carousel .owl-item {
      pointer-events: none;
    }
    .home__carousel .owl-item.active + .center,
    .home__carousel .owl-item.center + .active,
    .home__carousel .owl-item:not(.active) + .active {
      pointer-events: auto;
    }
    .home__carousel .owl-dots {
      padding-left: calc((100vw - 1110px) / 2);
    }
  }
  @media (min-width: 1440px) {
    .home--title .home__nav {
      height: 330px;
    }
    .home__card {
      width: 413.333333px;
    }
    .home__nav {
      width: calc((100% - 1360px) / 2);
    }
    .home__carousel .owl-dots {
      padding-left: calc((100vw - 1240px) / 2);
    }
  }