
/*==============================
	Header
==============================*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #131720;
    z-index: 99;
    transition: 0.5s, margin 0s;
  }
  .header--menu {
    top: 250px;
  }
  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 100%;
  }
  .header__logo {
    display: block;
    margin-left: 35px;
    height: auto;
    width: 80px;
  }
  .header__logo img {
    width: 100%;
    height: auto;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    background-color: #131720;
    top: -250px;
    left: 0;
    width: 100%;
    z-index: 100;
    height: 250px;
    padding: 20px;
    transition: 0.5s;
    background: #131720;
    border-bottom: 1px solid #151f30;
  }
  .header__nav--active {
    top: 0;
  }
  .header__nav-link {
    font-size: 14px;
    color: #e0e0e0;
    line-height: 22px;
    height: 22px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
  }
  .header__nav-link svg {
    stroke: #e0e0e0;
    fill: #e0e0e0;
    width: 4px;
    height: auto;
    transition: 0.5s;
    margin-left: 4px;
    margin-top: 1px;
  }
  .header__nav-link:hover,
  .header__nav-link[aria-expanded="true"] {
    color: #2f80ed;
  }
  .header__nav-link:hover svg,
  .header__nav-link[aria-expanded="true"] svg {
    stroke: #2f80ed;
    fill: #2f80ed;
  }
  .header__nav-link--more svg {
    width: 24px;
    margin: 0;
  }
  .header__nav-link--live svg {
    width: 12px;
    stroke: inherit;
    fill: inherit;
    margin-top: 3px;
  }
  .header__nav-link--live:hover svg,
  .header__nav-link--live[aria-expanded="true"] svg {
    stroke: inherit;
    fill: inherit;
  }
  .header__nav-item {
    margin-bottom: 20px;
    position: relative;
  }
  .header__nav-item:last-child {
    margin-bottom: 0;
  }
  .header__nav-menu {
    display: block;
    position: absolute !important;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
    top: 0;
    background-color: #151f30;
    border-radius: 16px;
    padding: 0 20px;
    width: 200px;
    transition: 0.5s;
    transform: translate3d(0px, 22px, 0px);
    margin-top: 10px;
    height: auto;
  }
  .header__nav-menu .header__nav-menu {
    margin-top: 5px;
    margin-left: 20px;
  }
  .header__nav-menu li {
    position: relative;
    margin-bottom: 15px;
  }
  .header__nav-menu li:first-child {
    padding-top: 20px;
  }
  .header__nav-menu li:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .header__nav-menu a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: 400;
    transition: 0.5s;
    position: relative;
  }
  .header__nav-menu a svg {
    stroke: #2f80ed;
    fill: #2f80ed;
    width: 4px;
    height: auto;
    transition: 0.5s;
    margin-left: 4px;
    margin-top: 1px;
  }
  .header__nav-menu a:hover {
    color: #2f80ed;
  }
  .header__nav-menu a:hover:after {
    opacity: 1;
  }
  .header__nav-menu--scroll {
    max-height: 240px;
    overflow: hidden;
  }
  .header__nav-menu.show {
    z-index: 1000;
    pointer-events: auto;
    opacity: 1;
  }
  .header__menu {
    position: absolute;
    width: 24px;
    height: 22px;
    display: block;
    left: 0;
    top: 29px;
  }
  .header__menu span {
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.5s;
    opacity: 1;
  }
  .header__menu span:first-child {
    top: 0;
  }
  .header__menu span:nth-child(2) {
    top: 10px;
    width: 16px;
  }
  .header__menu span:last-child {
    top: 20px;
    width: 8px;
  }
  .header__menu--active span {
    background-color: #2f80ed;
  }
  .header__menu--active span:first-child {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__menu--active span:nth-child(2) {
    opacity: 0;
  }
  .header__menu--active span:last-child {
    width: 24px;
    transform: rotate(-45deg);
    top: 9px;
  }
  .header__form {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -80px;
    height: 80px;
    background-color: #131720;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    transition: 0.5s;
  }
  .header__form--active {
    pointer-events: auto;
    bottom: 0;
  }
  .header__form-input {
    width: calc(100% - 40px);
    height: 40px;
    border-radius: 16px;
    background-color: #151f30;
    border: none;
    padding: 0 60px 0 20px;
    font-size: 14px;
    color: #fff;
  }
  .header__form-btn {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    right: 60px;
  }
  .header__form-btn svg {
    width: 20px;
    height: auto;
    fill: #2f80ed;
    transition: fill 0.5s;
  }
  .header__form-btn:hover svg {
    fill: #fff;
  }
  .header__form-close {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    right: 0;
    opacity: 0.7;
  }
  .header__form-close svg {
    width: 16px;
    height: auto;
    fill: #2f80ed;
  }
  .header__form-close:hover {
    opacity: 1;
  }
  .header__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__search {
    margin-right: 30px;
  }
  .header__search svg {
    width: 20px;
    height: auto;
    fill: #2f80ed;
  }
  .header__user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .header__user span {
    font-size: 14px;
    color: #e0e0e0;
    font-weight: 500;
    margin-right: 10px;
    transition: 0.5s;
  }
  .header__user svg {
    width: 20px;
    fill: #2f80ed;
  }
  .header__user:hover span {
    color: #2f80ed;
  }
  @media (min-width: 576px) {
    .header__nav {
      padding-left: calc((100% - 510px) / 2);
    }
  }
  @media (min-width: 768px) {
    .header__nav {
      padding-left: calc((100% - 690px) / 2);
    }
    .header__search {
      margin-right: 43px;
    }
  }
  @media (min-width: 992px) {
    .header__nav {
      padding-left: calc((100% - 930px) / 2);
    }
    .header__search {
      margin-right: 163px;
    }
  }
  @media (min-width: 1200px) {
    .header--static {
      position: relative;
    }
    .header--fixed {
      border-bottom: 1px solid transparent;
    }
    .header--fixed .header__content,
    .header--fixed .header__nav-item {
      transition: height 0.5s;
    }
    .header--hidden .header__content,
    .header--hidden .header__nav-item {
      transition: height 0.5s;
    }
    .header--active {
      border-color: #151f30;
    }
    .header--active .header__content {
      height: 80px;
    }
    .header--active .header__nav {
      height: 80px;
    }
    .header--active .header__nav-item {
      height: 80px;
    }
    .header--scroll {
      top: -80px;
    }
    .header--scroll .header__content {
      height: 80px;
    }
    .header--scroll .header__nav {
      height: 80px;
    }
    .header--scroll .header__nav-item {
      height: 80px;
    }
    .header__content {
      height: 100px;
      overflow: visible;
    }
    .header__nav {
      flex-direction: row;
      align-items: center;
      top: auto;
      left: auto;
      position: relative;
      height: 100px;
      padding: 0;
      width: auto;
      z-index: 2;
      background-color: transparent;
      background: none;
      border-bottom: none;
    }
    .header__nav-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 100px;
      margin-bottom: 0;
      margin-right: 60px;
    }
    .header__nav-item:last-child {
      margin-right: 0;
    }
    .header__nav-menu {
      transform: translate3d(0px, 46px, 0px);
      margin-top: 25px;
    }
    .header__nav-menu .header__nav-menu {
      margin-top: 0;
      margin-left: 0;
      transform: translate3d(0px, 0px, 0px);
      left: 100%;
      padding-top: 30px;
      border-radius: 6px;
    }
    .header__nav-menu .header__nav-menu li:first-child {
      padding-top: 0;
    }
    .header__nav-menu .header__nav-menu:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 10px;
      height: 1px;
      background-color: rgba(47,128,237,0.16);
    }
    .header__menu {
      display: none;
    }
    .header__logo {
      margin-left: 0;
    }
    .header__actions {
      justify-content: space-between;
      width: 350px;
    }
    .header__form {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      top: auto;
      right: auto;
      bottom: auto;
      left: auto;
      width: 250px;
    }
    .header__form-input {
      width: 100%;
    }
    .header__form-btn {
      right: 20px;
    }
    .header__form-close {
      display: none;
    }
    .header__search {
      display: none;
    }
  }
  @media (min-width: 1440px) {
    .header__actions {
      width: 383px;
    }
    .header__content {
      padding: 0 30px;
    }
  }