/*==============================
	Sign
==============================*/
.sign {
    display: block;
    position: relative;
  }
  .sign__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
  }
  .sign__form {
    background-color: #131720;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 30px 20px;
    position: relative;
    width: 100%;
    max-width: 400px;
    border: 1px solid #151f30;
  }
  .sign__form--contacts,
  .sign__form--profile {
    margin-top: 20px;
    max-width: 100%;
    padding: 20px 20px 5px;
  }
  .sign__form--contacts .sign__btn,
  .sign__form--profile .sign__btn {
    margin: 0 0 15px;
  }
  .sign__form--contacts .row,
  .sign__form--profile .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .sign__form--contacts .col-12,
  .sign__form--profile .col-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sign__form--profile .sign__btn {
    margin: 5px 0 15px;
  }
  .sign__form--first {
    margin-top: 0;
  }
  .section--full-bg{
    background-color: #161F30;
  }
  .sign__logo {
    display: block;
    margin-bottom: 30px;
  }
  .sign__logo a {
    max-width: 100%;
    width: auto;
  }
  .sign__logo img {
    width: 90px;
  }
  .sign__title {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    margin-bottom: 20px;
  }
  .sign__label {
    font-weight: 400;
    font-size: 14px;
    color: #e0e0e0;
    margin-bottom: 5px;
  }
  .sign__input {
    background-color: #151f30;
    border: 1px solid transparent;
    border-radius: 16px;
    height: 44px;
    position: relative;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 0 20px;
  }
  .sign__input:focus {
    background-color: #151f30;
    border-color: #2f80ed;
  }
  .sign__select {
    background: url("../../img/arrow2.svg") no-repeat center right 20px #151f30;
    background-size: 16px auto;
    border: 1px solid transparent;
    border-radius: 16px;
    height: 44px;
    position: relative;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 0 20px;
    cursor: pointer;
  }
  .sign__select:focus {
    background-color: #151f30;
  }
  .sign__textarea {
    background-color: #151f30;
    border: 1px solid transparent;
    border-radius: 16px;
    height: 144px;
    position: relative;
    color: #fff;
    font-size: 14px;
    width: 100%;
    padding: 15px 20px;
    resize: none;
  }
  .sign__textarea:focus {
    background-color: #151f30;
    border-color: #2f80ed;
  }
  .sign__group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
  }
  .sign__group--checkbox {
    width: 100%;
    text-align: left;
  }
  .sign__group--checkbox input:not(:checked),
  .sign__group--checkbox input:checked {
    position: absolute;
    left: -9999px;
  }
  .sign__group--checkbox input:not(:checked) + label,
  .sign__group--checkbox input:checked + label {
    font-size: 14px;
    color: #e0e0e0;
    font-weight: normal;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 22px;
    margin: 0;
  }
  .sign__group--checkbox input:not(:checked) + label a,
  .sign__group--checkbox input:checked + label a {
    color: #2f80ed;
  }
  .sign__group--checkbox input:not(:checked) + label a:hover,
  .sign__group--checkbox input:checked + label a:hover {
    color: #2f80ed;
    text-decoration: underline;
  }
  .sign__group--checkbox input:not(:checked) + label:before,
  .sign__group--checkbox input:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    background-color: #151f30;
    border: 1px solid transparent;
    border-radius: 8px;
  }
  .sign__group--checkbox input:not(:checked) + label:after,
  .sign__group--checkbox input:checked + label:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    text-align: center;
    transition: 0.5s;
    background: url("../../img/checkmark.svg") no-repeat center/12px auto;
    border-radius: 8px;
  }
  .sign__group--checkbox input:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  .sign__group--checkbox input:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  .sign__group--checkbox label::-moz-selection {
    background: transparent;
    color: #e0e0e0;
  }
  .sign__group--checkbox label::selection {
    background: transparent;
    color: #e0e0e0;
  }
  .sign__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 100%;
    height: 50px;
    border-radius: 16px;
    background-color: #2f80ed;
    font-size: 14px;
    color: #e0e0e0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .sign__btn:hover {
    color: #151f30;
    background-color: #fff;
  }
  .sign__text {
    margin-top: 15px;
    font-size: 14px;
    color: #e0e0e0;
  }
  .sign__text a {
    position: relative;
    color: #2f80ed;
  }
  .sign__text a:hover {
    color: #2f80ed;
    text-decoration: underline;
  }
  .sign__delimiter {
    font-size: 14px;
    color: #e0e0e0;
    line-height: 100%;
  }
  .sign__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .sign__social a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: calc(33% - 10px);
    border-radius: 16px;
    color: #fff;
  }
  .sign__social a svg {
    height: auto;
    fill: #fff;
    transition: 0.5s;
  }
  .sign__social a.fb {
    background-color: #3b5999;
  }
  .sign__social a.fb svg {
    width: 10px;
  }
  .sign__social a.gl {
    background-color: #df4a32;
  }
  .sign__social a.gl svg {
    width: 18px;
  }
  .sign__social a.tw {
    background-color: #1da1f2;
  }
  .sign__social a.tw svg {
    width: 18px;
  }
  .sign__social a:hover {
    background-color: #fff;
  }
  .sign__social a:hover.fb svg {
    fill: #3b5999;
  }
  .sign__social a:hover.gl svg {
    fill: #df4a32;
  }
  .sign__social a:hover.tw svg {
    fill: #1da1f2;
  }
  .sign__wrap {
    background-color: #151f30;
    padding: 20px;
    border-radius: 16px;
    margin-top: 20px;
  }
  @media (min-width: 576px) {
    .sign__form {
      padding: 40px;
    }
    .sign__form--contacts,
    .sign__form--profile {
      padding: 20px 20px 5px;
    }
    .sign__logo {
      margin-bottom: 40px;
    }
  }
  @media (min-width: 768px) {
    .sign__form--contacts,
    .sign__form--profile {
      padding: 30px 30px 15px;
      margin-top: 30px;
    }
    .sign__form--contacts .sign__btn,
    .sign__form--profile .sign__btn {
      margin: 10px 0 15px;
    }
    .sign__form--first {
      margin-top: 0;
    }
    .sign__wrap {
      margin-top: 30px;
      padding: 30px;
    }
  }
  @media (min-width: 992px) {
    .sign__form--profile {
      margin-top: 0;
    }
    .sign__form--profile .sign__btn {
      width: 180px;
    }
  }